<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
<%- include('components/theme') %>
<%- include('components/header') %>

  <div class="content-section bg-default-4 pt-lg-25 pt-15 pb-15 pb-lg-25">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-8">
          <div class="section-title mb-13">
            <h4 class="pre-title gr-text-12 text-red text-uppercase mb-9">About Us</h4>
            <h2 class="title gr-text-1">We envision world's best learning experience</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="about-image img-big pt-lg-13" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <img class="w-100 rounded-10 object-fit-cover" style="height: 300px;" src="<% if(fundamentals.aboutimg1){ %><%= fundamentals.aboutimg1 %><% } %>" alt="">
          </div>
        </div>
        <div class="col-lg-7">
          <div class="row justify-content-between align-items-center pl-lg-13">
            <div class="col-md-6">
              <div class="about-image img-mid mt-9 mt-lg-0" data-aos="fade-up" data-aos-duration="900" data-aos-once="true">
                <img class="w-100 rounded-10 object-fit-cover" height="200px" src="<% if(fundamentals.aboutimg2){ %><%= fundamentals.aboutimg2 %><% } %>" alt="">
                <div class="abs-pattern gr-abs-tr-custom" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="300" data-aos-once="true">
                  <img src="/static/image/l5/png/l5-about-pattern.png"  alt="">
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="about-image img-sm mt-9 mt-lg-0" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                <img class="w-100 rounded-10 object-fit-cover" src="<% if(fundamentals.aboutimg3){ %><%= fundamentals.aboutimg3 %><% } %>" height="150px" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-content pb-13 pb-lg-15">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="pr-xl-13">
            <p class="gr-text-8 mb-7 mb-lg-10"><% if(fundamentals.about){ %><%= fundamentals.about %><% } %></p>
            <p class="gr-text-8 mb-7 mb-lg-10"><% if(fundamentals.about2){ %><%= fundamentals.about2 %><% } %></p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-8">
          <div class="feature-widget-1">
            <div class="media flex-column pr-8 pr-lg-7 pr-xl-12">
              <div class="icon-wrap">
                <img src="/static/image/svg/" alt="">
              </div>
              <div class="media-body mt-10">
                <h5 class="gr-text-7 mb-7">Vision</h5>
                <p class="gr-text-9"><% if(fundamentals.vision){ %><%= fundamentals.vision %><% } %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-8">
          <div class="feature-widget-1">
            <div class="media flex-column pr-8 pr-lg-7 pr-xl-12">
              <div class="icon-wrap">
                <img src="/static/image/svg/" alt="">
              </div>
              <div class="media-body mt-10">
                <h5 class="gr-text-7 mb-7">Mission</h5>
                <p class="gr-text-9"><% if(fundamentals.mission){ %><%= fundamentals.mission %><% } %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-8">
          <div class="feature-widget-1">
            <div class="media flex-column pr-8 pr-lg-7 pr-xl-12">
              <div class="icon-wrap">
                <img src="/static/image/svg/" alt="">
              </div>
              <div class="media-body mt-10">
                <h5 class="gr-text-7 mb-7">Our Goal</h5>
                <p class="gr-text-9"><% if(fundamentals.goal){ %><%= fundamentals.goal %><% } %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content section (About Page) -->
  <div class="content-section pt-14 pt-lg-12 pb-lg-26 ">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-10 col-lg-6">
          <div class="content-img pr-9">
            <img src="<% if(fundamentals.whyrhombusimg){ %><%= fundamentals.whyrhombusimg %><% } %>" alt="" class="gr-image-box-shadow rounded-8 mw-100">
          </div>
        </div>
        <div class="col-lg-6 col-md-10 pl-xl-15 mt-11 mt-lg-0" data-aos="fade-left" data-aos-duration="700" data-aos-once="true">
          <div class="content-text pr-xl-13">
            <h2 class="title gr-text-3 mb-7">Why Rhombus Education?</h2>
            <p class="gr-text-8 mb-0">Start preparing early and stay ahead of the rest.</p>
          </div>
          <div class="content-widget mt-9 mb-11 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <div class="single-widget d-flex align-items-center py-5">
                  <div class="widget-icon text-primary mr-6 gr-text-8">
                    <i class="icon icon-check-simple"></i>
                  </div>
                  <h3 class="w-title gr-text-8 font-weight-bold mb-0">500 Hours of Face to Face STudy</h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="single-widget d-flex align-items-center py-5">
                  <div class="widget-icon text-primary mr-6 gr-text-8">
                    <i class="icon icon-check-simple"></i>
                  </div>
                  <h3 class="w-title gr-text-8 font-weight-bold mb-0">360 Degree coverage of entire syllabus</h3>
                </div>
              </div>
              <div class="col-xl-12 col-md-12">
                <div class="single-widget d-flex align-items-center py-5">
                  <div class="widget-icon text-primary mr-6 gr-text-8">
                    <i class="icon icon-check-simple"></i>
                  </div>
                  <h3 class="w-title gr-text-8 font-weight-bold mb-0">Focus on answer writing skills from Day 1</h3>
                </div>
              </div>
              <div class="col-xl-8 col-md-12">
                <div class="single-widget d-flex align-items-center py-5">
                  <div class="widget-icon text-primary mr-6 gr-text-8">
                    <i class="icon icon-check-simple"></i>
                  </div>
                  <h3 class="w-title gr-text-8 font-weight-bold mb-0">Regular Test + Weekend Test</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
<%- include('components/footer') %>
</body>
</html>