<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
<%- include('components/theme') %>
<%- include('components/header') %>

<div class="inner-banner">
    <div class="container">
      <div class="row  justify-content-center mt-md-6 pt-24 pt-lg-20">
        <div class="col-xl-8 col-lg-9">
          <div class="px-md-12 text-center mb-11 mb-lg-14">
            <h2 class="title gr-text-2 mb-4 mb-lg-6"><%= category %> Courses</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <% subCategories.forEach(subCategory => { %>
      <div class="col-12">
        <h3><%= subCategory %></h3>
      </div>
      <div class="row mb-16 d-flex">
        <% courses.filter(course => course.subCategory === subCategory).map(course => { %>    
            <div class="col-lg-4 my-6">
              <%- include('components/course-card', course) %>
            </div>
        <% }) %>
        </div>
    <% }) %> 
    <div class="row mb-24 d-flex">
      <div class="col-12">
        <h3>Others</h3>
      </div>
      <% courses.filter(course => course.subCategory === "Others").map(course => { %>    
          <div class="col-lg-4 my-6">
            <%- include('components/course-card', course) %>
          </div>
      <% }) %>
      </div>
  </div>
  
  <%- include('components/newsletter') %>
    
<%- include('components/footer') %>
</body>
</html>