<!DOCTYPE html>
<html lang="en">

  <%- include('components/head') %>

  <%- include('components/theme') %>
    
    <%- include('components/header') %>

    <!-- Hero Area -->
    <!-- <div class="position-relative bg-pattern pattern-2 pt-24 pt-md-15 pt-lg-13 pt-xl-20" >
      <div class="container">
        <div class="row justify-content-sm-end align-items-center">
          <div class="col-lg-7 pr-0 col-md-8 py-md-16 py-lg-21" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
            <div class="hero-content mb-9 mb-md-0">
              <h1 class="title gr-text-2 mb-6">We envision world's best learning experience</h1>
              <p class="gr-text-8 mb-8">Turitor’s courses is for every one from different age groups 
                and with various level of skills.</p>
              <div class="hero-btn mb-8 mx-n2">
                <a href="#" class="btn btn-primary mx-2">Get Started</a>
                <a href="#" class="btn btn-secondary text-white mx-2">Know More</a>
              </div>
              <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-link gr-text-color">
                <span class="d-inline-flex mr-2 gr-text-color">
                  <i class="far fa-play-circle gr-text-9"></i>
                </span>
                <span class="gr-text-12 font-weight-bold text-uppercase">Watch how we can help</span>
              </a>
            </div>
          </div>
          <div class="col-lg-5 col-md-4 col-sm-7 align-self-sm-end">
            <div class="hero-img" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
              <img class="w-100" src="/static/image/l3/png/l3-hero-img.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div>
      <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": true, "autoPlay": 7000, "pauseAutoPlayOnHover": false }'>
        <% slides.forEach(image => { %>
        <div class="carousel-cell w-100">
          <div class="w-100 bg-blue overflow-hidden">
            <img class="w-100" style="max-height: 720px;object-fit: cover;" src="<%= image %>" alt="">
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <!-- Fact Counter section -->
    <div class="fact-section bg-default-4 pt-lg-15 pb-7 pb-lg-24">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
            <div class="single-fact text-center px-xl-6">
              <h3 class="title mb-7 gr-text-3"><span class="counter">20</span>+</h3>
              <p class="gr-text-8 mb-0">Students have ranked in All India Top 100 Ranks</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
            <div class="single-fact text-center px-xl-6">
              <h3 class="title mb-7 gr-text-3"><span class="counter">30</span>+</h3>
              <p class="gr-text-8 mb-0">Courses we have for CA, MAT, UGC-NET and so on.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
            <div class="single-fact text-center px-xl-6">
              <h3 class="title mb-7 gr-text-3"><span class="counter">92</span>%</h3>
              <p class="gr-text-8 mb-0">Selection rate we give every year being the highest in the city.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Service section  -->
    <div class="service-section bg-default-4 pt-15 pb-13 py-lg-12">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-7 col-md-9">
            <div class="section-title text-center mb-11 mb-lg-19 px-lg-3">
              <h4 class="pre-title gr-text-12 text-red text-uppercase mb-7">Our Courses</h4>
              <h2 class="title gr-text-4">We provide great courses for our students</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center position-relative gr-z-index-1">
          <div class="col-lg-6 overflow-hidden">
            <a href="/courses/CA" class="img-hover">
              <img src="/static/image/main-covers/ca.jpg" width="100%" class="object-fit-cover rounded-12 shadow-4" height="520px" />
            </a>
          </div>
          <div class="col-lg-6 d-flex flex-wrap">
            <a href="/courses/UGC-NET" class="img-hover">
              <img src="/static/image/main-covers/ugc-net.jpg" width="100%" class="object-fit-cover rounded-12 shadow-4" height="245px" />
            </a>
            <div class="row mt-9">
              <div class="col-lg-6">
                <a href="/courses/MBA" class="img-hover">
                  <img src="/static/image/main-covers/mba.jpg" width="100%" class="object-fit-cover rounded-12 shadow-4" height="245px" />
                </a>
              </div>
              <div class="col-lg-6">
                <a href="/courses/Junior" class="img-hover">
                  <img src="/static/image/main-covers/junior.jpg" width="100%" class="object-fit-cover rounded-12 shadow-4" height="245px" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- Feature section -->
     <div class="feature-section pt-14 pt-lg-21 pb-7 bg-default-6">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8">
            <div class="section-title text-center mb-13 mb-lg-21">
              <h2 class="title gr-text-4 mb-6">How does it work?</h2>
              <p class="gr-text-9 mb-0">We've made e-learning simple and easy for you. Buy any of our courses and start learning.</p>
            </div>
          </div>
        </div>
        <div class="gr-timeline-wrapper gr-flex-all-center">
          <div class="single-timeline-feature text-center px-6 px-md-9" data-aos="zoom-in" data-aos-duration="900" data-aos-once="true">
            <div class="count circle-lg bg-red gr-text-4 mx-auto mb-12 text-white"><span>1</span></div>
            <div class="content px-xl-7">
              <h3 class="title gr-text-7 mb-6">Choose Course</h3>
              <p class="gr-text-9">You can choose from around 20+ courses.</p>
            </div>
          </div>
          <div class="single-timeline-feature text-center px-6 px-md-9" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="400" data-aos-once="true">
            <div class="count circle-lg bg-green gr-text-4 mx-auto mb-12 text-white"><span>2</span></div>
            <div class="content px-xl-7">
              <h3 class="title gr-text-7 mb-6">Pay Securely</h3>
              <p class="gr-text-9">Pay by any means, UPI, Paytm Wallet, Credit Card or Debit Card.</p>
            </div>
          </div>
          <div class="single-timeline-feature text-center px-6 px-md-9" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="800" data-aos-once="true">
            <div class="count circle-lg bg-blue gr-text-4 mx-auto mb-12 text-white"><span>3</span></div>
            <div class="content px-xl-7">
              <h3 class="title gr-text-7 mb-6">Start Learning!</h3>
              <p class="gr-text-9">It's all done now you can stream lectures and learn.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <!-- Feature section -->
    <div class="feature-section pt-8 pt-lg-11 pb-7 pb-lg-11">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-7 col-md-8">
            <div class="section-title text-center mb-13 mb-lg-23">
              <h4 class="pre-title gr-text-12 text-red text-uppercase mb-7">Why choose us</h4>
              <h2 class="title gr-text-4">People choose us because...</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 col-md-10 mb-11 mb-lg-19" data-aos="fade-left" data-aos-duration="800" data-aos-delay="200" data-aos-once="true">
                <div class="feature-widget media">
                  <div class="widget-icon p-7 mr-9">
                    <img src="/static/image/svg/conversation.svg" height="64px" alt="">
                  </div>
                  <div class="widget-text">
                    <h3 class="title gr-text-7 mb-6">Face to Face Classes</h3>
                    <p class="gr-text-9 mb-0 pr-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-10 mb-11 mb-lg-19" data-aos="fade-left" data-aos-duration="800" data-aos-delay="400" data-aos-once="true">
                <div class="feature-widget media">
                  <div class="widget-icon p-7 mr-9">
                    <img src="/static/image/svg/books.svg" height="64px" alt="">
                  </div>
                  <div class="widget-text">
                    <h3 class="title gr-text-7 mb-6">Study Material & Assessments</h3>
                    <p class="gr-text-9 mb-0 pr-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-10 mb-11 mb-lg-19" data-aos="fade-right" data-aos-duration="800" data-aos-delay="600" data-aos-once="true">
                <div class="feature-widget media">
                  <div class="widget-icon p-7 mr-9">
                    <img src="/static/image/svg/tour-guide.svg" height="64px" alt="">
                  </div>
                  <div class="widget-text">
                    <h3 class="title gr-text-7 mb-6">Notification Updates & Exam Guidance</h3>
                    <p class="gr-text-9 mb-0 pr-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-10 mb-11 mb-lg-19" data-aos="fade-right" data-aos-duration="800" data-aos-delay="800" data-aos-once="true">
                <div class="feature-widget media">
                  <div class="widget-icon p-7 mr-9">
                    <img src="/static/image/svg/read.svg" height="64px" alt="">
                  </div>
                  <div class="widget-text">
                    <h3 class="title gr-text-7 mb-6">Smart Study Techniques</h3>
                    <p class="gr-text-9 mb-0 pr-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-10 mb-11 mb-lg-19" data-aos="fade-right" data-aos-duration="800" data-aos-delay="800" data-aos-once="true">
                <div class="feature-widget media">
                  <div class="widget-icon p-7 mr-9">
                    <img src="/static/image/svg/presentation.svg" height="64px" alt="">
                  </div>
                  <div class="widget-text">
                    <h3 class="title gr-text-7 mb-6">Fully Featured Classrooms</h3>
                    <p class="gr-text-9 mb-0 pr-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-10 mb-11 mb-lg-19" data-aos="fade-right" data-aos-duration="800" data-aos-delay="800" data-aos-once="true">
                <div class="feature-widget media">
                  <div class="widget-icon p-7 mr-9">
                    <img src="/static/image/svg/customer-service.svg" height="64px" alt="">
                  </div>
                  <div class="widget-text">
                    <h3 class="title gr-text-7 mb-6">24x7 Personalized Online Support</h3>
                    <p class="gr-text-9 mb-0 pr-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-12">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-8">
        <div class="section-title text-center">
          <h4 class="pre-title gr-text-12 text-red text-uppercase mb-7">Testimonials</h4>
          <h2 class="title gr-text-4">See what our students said...</h2>
        </div>
      </div>
    </div>
    <div class="py-lg-20 bg-whatsapp whatsapp-testimonials rounded-15 shadow-4 mt-8 mb-16">
        <div class="container">
          <div class="row">
            <% testimonials.forEach(data => { %>
            <div class="col-lg-10 offset-lg-1">
              <div class="d-flex my-6" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
                <div class="reviewer-img d-flex justify-content-center mb-7 mr-6 mb-lg-12">
                  <img class="img-fluid circle-sm" src="<%= data.avatar %>" alt="">
                </div>
                <div class="rounded-8 shadow-4 bg-whatsapp-chat px-8 py-6">
                    <span class="text-blue gr-text-9 font-weight-bold" ><%= data.name %></span><br/>
                    <%= data.reviews %>
                    <div class="text-right d-flex align-items-center justify-content-end mt-3">
                        <span>8:06PM</span>
                        <img src="/static/image/svg/double-tick-indicator.svg" class="ml-2" width="16px" height="16px">
                    </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
    </div>
  </div>
    <!-- CTA section 2 -->
    <div class="cta-section-2 dark-mode-texts bg-blackish-blue ">
      <div class="container">
        <div class="cta-wrapper pt-14 pb-14 py-lg-19 border-bottom">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10">
              <div class="cta-text section-title">
                <h2 class="title gr-text-5 mb-7 text-white">Ready to prepare?</h2>
                <p class="gr-text-8 gr-color-white-opacity-7 mb-8 mb-lg-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
              </div>
            </div>
            <div class="col-lg-4 offset-lg-2 col-md-10">
              <div class="cta-btn text-lg-right">
                <a href="/courses" class="btn btn-primary gr-hover-y">Get started on a course</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <%- include('components/footer') %>

</body>

</html>