<!-- <div class="location-card mb-9 rounded-10 h-100 shadow-2 gr-hover-shadow-0">
    <a href="#" class="course-card-img">
      <img src="<%= cover %>" alt="" class="w-100 rounded-top-10">
    </a>
    <div class="card-content px-9 py-8 bg-white rounded-bottom-10">
      <a href="/course/<%= _id%>">
        <h3 class="title font-weight-bolder gr-hover-text-green text-blackish-blue gr-text-9 mb-0"><%= name %></h3>
      </a>
      <div class="d-flex my-5">
        <span class="d-inline-flex mr-2 gr-text-color">
          <i class="far fa-play-circle gr-text-9"></i>
        </span>
        <span class="alert-text gr-text-9 gr-text-color"><%= Math.round(duration / 60) + " hrs " + Math.round(duration % 60) + " mins" %></span>
      </div> -->
      <!-- <div class="d-flex my-5">
        <span class="d-inline-flex mr-2 gr-text-color">
          <i class="far fa-sticky-note gr-text-9"></i>
        </span>
        <span class="alert-text gr-text-9 gr-text-color">23 Lessons</span>
      </div>
      <div class="d-flex my-5">
        <span class="d-inline-flex mr-2 gr-text-color">
          <i class="fa fa-globe gr-text-9"></i>
        </span>
        <span class="alert-text gr-text-9 gr-text-color">Englsih & Hindi</span>
      </div> -->
      <!-- <div class="mt-2 line-height-reset mb-2">
        <div class="font-weight-bolder">
          <span class="gr-text-5 text-green">₹<%= variants[0].discountPrice %></span>
          <span class="ml-2 gr-text-8 text-linethrough">₹<%= variants[0].price %></span> 
        </div>
      </div> -->
    <!-- </div>
  </div> -->

 <a href="/course/<%= _id %>"><div class="card-<%= category %> position-relative shadow-2 overflow-hidden py-4 px-10 d-flex align-items-center rounded-10 my-9" style="min-height: 160px;">
      <img src="/static/image/overlay.svg" style="mix-blend-mode: overlay;z-index: 0;position: absolute;top: 0px; left: 0px; width: 100%;height: 100%;object-fit: cover;">
      <div style="z-index: 1000;">
          <h2 class="mb-0 mt-2 gr-text-10 text-white"><%= category %> <%= subCategory %></h2>
          <h2 class="gr-text-5 text-white"><%= name %></h2>
      </div>
      
  </div></a> 