<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <%- include('components/head') %>

    <body class=" layout-fluid">

 
        <%- include('components/preloader') %>
        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout">

            <%- include('components/header') %>

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content">

                <div data-push
                     data-responsive-width="992px"
                     class="mdk-drawer-layout js-mdk-drawer-layout">
                    <div class="mdk-drawer-layout__content page ">

                        <div class="container-fluid page__container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                                <li class="breadcrumb-item active">My Courses</li>
                            </ol>
                            <div class="media mb-headings align-items-center">
                                <div class="media-body">
                                    <h1 class="h2">My Courses</h1>
                                </div>
                            </div>
                            <div class="card-columns">
                                <% user.myOrders && user.myOrders.forEach(order => { %>
                                <div class="card">
                                    
                                    <div class="card-header">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="/course/<%= order.id %>">
                                                    <img src="/api/course/cover/<%= order.id %>"
                                                         alt="Card image cap"
                                                         width="100"
                                                         class="rounded">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="card-title m-0"><a href="/api/course/details/<%= order.id %>"><%= order.name %></a></h4>
                                                <small class="text-muted"><%= order.details %></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                            </div>

                        </div>

                    </div>

                           
                  <%- include('components/sidebar') %>

                </div>


            </div>
        </div>

        <%- include('components/footer') %>

    </body>

</html>