<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <%- include('components/head') %>

    <body class=" layout-fluid">

 
        <%- include('components/preloader') %>
        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout">

            <%- include('components/header') %>

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content">

                <div data-push
                     data-responsive-width="992px"
                     class="mdk-drawer-layout js-mdk-drawer-layout">
                    <div class="mdk-drawer-layout__content page ">

                        <div class="container-fluid page__container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Account</a></li>
                                <li class="breadcrumb-item active">Payments</li>
                            </ol>
                            <div class="media mb-headings align-items-center">
                                <div class="media-body">
                                    <h1 class="h2">Payment Information</h1>
                                </div>
                            </div>
                            
                            <h1 class="h4">This feature will land soon on your dashbaord.</h1>

                            <!-- Write code here -->

                        </div>

                    </div>

                           
                  <%- include('components/sidebar') %>

                </div>


            </div>
        </div>

        <%- include('components/footer') %>

    </body>

</html>